/* stile header */

/* stile main */
#color_editor{
    color: rgb(100, 198, 231);
}
 .editor{
    color: gray;
 }

.highlight{
    background-color: rgb(255, 255, 0);
}

thead{
    color: white;
    background-color: rgb(0, 179, 255);
}

.color_line{
    background-color: rgb(190, 239, 255);
}

.first_column{
    width: 20%;
}

.second_column{
    width: 20%;
}

.third_column{
    width: 40%;
}



/* stile footer */
#monitor{
    background-image: url('file:///Users/saraaffro/Documents/BOOLEAN/esercizi/html-css-booleaner/img/monitor.jpg');
    width: 312px;
    height: 208px;
    color: white;
}

#graph{
    background-image: url('file:///Users/saraaffro/Documents/BOOLEAN/esercizi/html-css-booleaner/img/graph.jpg');
    width: 311px;
    height: 207px;
    color: white;
}

#title_footer{
    color: grey;
}

footer div{
    margin-top: 10px;
}